@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {

  font-size: 5rem;
  line-height: 1em;
  font-weight: bolder;

}

h3 {

  line-height: 1em;
  
}


.frame {
  width: 90%;
  margin: 0 auto;
}

header {
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}


.blackHeart,
.searchIcon {
  width: 20px;

}

.blackHeart {
  margin-right: 1rem;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: black;
}


form input {
  color: rgba(0, 0, 0, .05);
}

form button {
  background-color: #fb3e44;
  color: white
}

#searchInput,
button {
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;

}

input {
  background-color: rgba(0, 0, 0, .05);

}

.logo {
  width: 40px;

}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.header-top span{
  font-family:Arial, Helvetica, sans-serif;
}

.container2 {
  margin-top: 5px;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchForm {
  width: 94%;
  margin: 0;
}

#searchInput {
  width: 89%;

}

.searchIcon {
  padding: 11px;
  background-color: rgba(0, 0, 0, .05);
  margin-left: 20px;
}

.div-enlaces {
  margin-right: 13px;
  width: 9%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-enlaces a {
  text-decoration: none; 
  color: black;

}

.linkBorder {
  border: 3px solid rgba(0, 0, 0, .05);
  padding: 3px 9px;
}

.section1 {
  margin-bottom: 88px;
  padding-bottom: 90px;
  height: 600px;
  background-color: rgba(232, 217, 217, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 40px;
  margin-bottom: 60px;
  height: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#build .article {
  text-align: center;
  font-size: 18px;
  width: 42%;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5rem;
}

.link {
  height: 40%;
}


.linkSeePlan {
  margin-right: 46px;
  color: white;
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
  padding: 15px 48px;

}

.linkJoin {
  margin-right: 20px;
  color: black;
  font-weight: bolder;
  background: white;
  padding: 15px 48px;
}
#bring .article{
  text-align: center;
}

#bring img {
  width: 272px;
  margin-bottom: -47px;
}
#bring .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

#bring h3 {
  background-color: rgba(255, 204, 53, .4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  font-size: 2.5rem;
  padding: 0 29px;
}

.section3 {
  margin-top: 20px;
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 450px;
}

.icon {
  width: 30px;
}

#zero button {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
  color: white;
  padding: 23px 150px;
  font-size: 1rem;
}

#zero>div {
  width: 23%;

}

#zero h4 {
  color: #ED1C24;
}

#zero .text {
  font-family: 'Arimo', sans-serif;
  width: 254px;
  line-height: 1.5;
}